body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #129511;
    text-align: center;
    padding:  2px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

header img{
    max-width: 280px;
    display: block;
    margin: 5px auto;
}


section h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 1.5em;
    
    margin-bottom: 10px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}

main img {
    max-width: 350px;
    display: block;
    margin: 30px auto;
}

footer {
    background-color: #0fb32b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

